<h2 class="page-header"><%= day %></h2>

<% var todayHasAppointments = false %>
<% appointments.forEach(appointment => { %>
    <% if (appointment.appointDate.toDateString() == day){ %>
        <div class="appointment-row">
            <div > <%= appointment.client.firstName %> <%= appointment.client.lastName %></div>
            <div > <%= appointment.appointDate.toDateString() %></div>
            <div > <%= appointment.appointTime %></div>
            <div class="btn-row">
                <a class="btn btn-primary" href="/appointments/<%= appointment.id %>">View</a>
            </div>
        </div>
        <% todayHasAppointments = true %>
    <% } %>
<% }) %>
<% if (!todayHasAppointments){ %>
    <h3>No Appointments Today</h3>
<% } %>