<h2 class="page-header"><%= day %></h2>

<% var todayHasAppointments = false %>
<div>
    <% appointments.forEach(appointment => { %>
        <% if (appointment.appointDate.toDateString() == day){ %>
            <div class="appointment-row">
                <a class="btn-long" href="/appointments/<%= appointment.id %>">
                    Appointment 
                    <% if (appointment.appointTime != null && appointment.appointTime != '' && appointment.appointTime != undefined){ %>
                        at <%= appointment.appointTime %>
                    <% } %>
                    with <%= appointment.client.firstName %> <%= appointment.client.lastName %>
                </a>
            </div>
            <% todayHasAppointments = true %>
        <% } %>
    <% }) %>
    <% if (!todayHasAppointments){ %>
        <h3>No Appointments Today</h3>
    <% } %>
</div>
<div style="white-space: pre-wrap;">
    &#10;
</div>
<div>
    <a class="btn btn-primary" href="/appointments/new/?date=<%= day %>">Add Appointment</a>
</div>
