
<div class="row">
    <h2 class="page-header" style="margin: 0;">Welcome <%= name %></h2>
    <form action="/logout?_method=DELETE" method="POST">
        <button class="btn btn-primary" type="submit">Log Out</button>
    </form>
</div>


<h2>Upcoming Appointments:</h2>

<% appointments.forEach(appointment => { %>
    <div>
        <a class="btn-long" href="/appointments/<%= appointment.id %>">
            <%=  dateString =  appointment.appointDate.toDateString().slice(0, 10) + "" %>
            <% dateString %> 
            <% if (appointment.appointTime != null && appointment.appointTime != '' && appointment.appointTime != undefined){ %>
                at <%= appointment.appointTime %>
            <% } %>
            with <%= appointment.client.firstName %> <%= appointment.client.lastName %>
        </a>
        <br><br>
    </div>
    
<% }) %>