<h2 class="page-header">Search Clients</h2>
<form action="/clients" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name%>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<% clients.forEach(client => { %>
    <div class="client-row">
        <div class="client-name"> <%= client.name %></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/clients/<%= client.id %>">View</a>
            <a class="btn btn-primary" href="/clients/<%= client.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm', 
                {url: `/clients/${client.id}`})%>
        </div>
    </div>
<% }) %>