<h2 class="page-header" style="margin-bottom: 0;"><%= myClient.firstName %> <%= myClient.lastName %></h2>
<h3 style="margin: 0; padding-left: 40px;">email: <%= myClient.email %></h3>  <h3 style="margin: 0; padding-left: 40px;">phone: <%= myClient.phone %></h3>

<% if (appointmentsByClient.length > 0){ %>
    <h3>Upcoming Appointments</h3>
    <% appointmentsByClient.forEach(appointment => { %>
        <div>
            <a class="btn-long" href="/appointments/<%= appointment.id %>">
                <%= appointment.appointDate.toDateString() %> <%= appointment.appointTime %></a>
            <br><br>
        </div>
        
    <% }) %>
<% } %>

<br>

<div class="btn-row">
    <a class="btn btn-primary" href="/clients/<%= myClient.id %>/edit">Edit Client</a>
    <%- include('../partials/deleteForm',
        {url: `/clients/${myClient.id}` }) %>
</div>
