<div class="form-row">
    <div class="form-item">
        <label>Client</label>
        <select name="client">
        <% clients.forEach(client => { %>
            <% if (client.id === appointment.client){ %>
                <option selected label="<%= client.firstName %> <%= client.lastName %>" value="<%= client.id%>">
            <% } else { %>
                <option label="<%= client.firstName %> <%= client.lastName %>" value="<%= client.id%>">
            <% } %>    
        <% }) %>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Appointment Date</label>
        <input type="date" name="appointDate" 
            value="<%= appointment.appointDate == null ? '' : 
            appointment.appointDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label>Appointment Time</label>
        <input type="number" name="appointTime" min="1" value="<%= appointment.appointTime %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= appointment.description %></textarea>
    </div>
</div>
